<div class="relative gradient-blue w-full h-[200px] border-black border">
  <img class="absolute -left-2 -top-1" src="/assets/images/box5.webp" />
  <div class="p-3 px-4"><ng-content></ng-content></div>

  <img class="absolute -right-2 -top-1" src="/assets/images/box5.webp" />
</div>
