<ng-container *ngIf="user">
  <div class="flex flex-nowrap">
    <div class="flex mt-10 w-[255px] px-2 justify-around">
      <app-container-icon
        [icon]="'/assets/images/money.webp'"
        [value]="user.gold"
      ></app-container-icon>
      <app-container-icon
        [icon]="'/assets/images/power.webp'"
        [value]="user.power"
      ></app-container-icon>
    </div>

    <div class="relative ml-auto mr-20">
      <img src="/assets/images/title.webp" alt="" draggable="false" />
      <h1
        class="absolute text-xl text-white font-bold left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 mt-[-6px] shadow-title"
      >
        <app-army-name [user]="user"></app-army-name>
      </h1>
    </div>
  </div>

  <div class="flex">
    <div class="flex mt-2 w-[255px] items-center flex-col">
      <app-troopers-block
        [troopers]="user.troopers"
        [context]="isOwner ? 'globalOwner' : 'global'"
      ></app-troopers-block>

      <app-container-history [user]="user"></app-container-history>
    </div>

    <div class="grid grid-cols-2 auto-rows-min gap-x-5 gap-y-6 mt-2">
      <app-today-fight [type]="'fight'"></app-today-fight>
      <div class="relative">
        <app-today-fight [type]="'mission'"></app-today-fight>
        <div class="overlay-disable"></div>
      </div>
      <div class="relative">
        <app-today-fight [type]="'raid'"></app-today-fight>
        <div class="overlay-disable"></div>
      </div>

      <app-container-ad
        [image]="ad1.image"
        [link]="ad1.link"
      ></app-container-ad>
      <app-container-referral *ngIf="isOwner"></app-container-referral>
      <div *ngIf="!isOwner"></div>
      <app-container-ad
        [image]="ad2.image"
        [link]="ad2.link"
      ></app-container-ad>
    </div>
  </div>
</ng-container>
