.blue-btn {
  background-color: #6589b7;
  background: linear-gradient(to bottom, #87a4c9, #6589b7);
  border: 1px solid #7e95b1;
  border-bottom: 3px solid #556c8f;
  box-shadow:
    1px 1px 0 0 #465772,
    inset 0 0 0 1px #a5bfde;
}

.orange-btn {
  background-color: #e89b2e;
  background: linear-gradient(to bottom, #eeb33e, #e89b2e);
  border: 1px solid #df7604;
  border-bottom: 3px solid #ba5700;
  box-shadow:
    1px 1px 0 0 #b29d94,
    inset 0 0 0 1px #eeb53a;
}

.green-btn {
  background-color: #6ab200;
  background: linear-gradient(to bottom, #8cc600, #6ab200);
  border: 1px solid #6daf5f;
  border-bottom: 3px solid #407e28;
  box-shadow:
    1px 1px 0 0 #6e9173,
    inset 0 0 0 1px #98cb00;
}
