<div class="relative flex">
  <ng-container *ngFor="let state of states">
    <div class="flex-1">
      <app-go [state]="state"></app-go>
    </div>
  </ng-container>
</div>

<div class="flex items-center text-xs mt-1">
  <img
    src="/assets/images/info.webp"
    alt=""
    class="w-[10px] h-[10px] mr-[6px]"
  />
  <ng-container *ngIf="pendingLeft > 0">
    <p style="text-shadow: 1px 1px 0px rgba(253, 246, 213, 0.3)">
      {{ tryLeft }}
    </p>
  </ng-container>
  <ng-container *ngIf="pendingLeft == 0">
    <p style="text-shadow: 1px 1px 0px rgba(253, 246, 213, 0.3)">
      Prochain combat dans
    </p>

    <img
      src="/assets/images/anim_small_chrono.gif"
      alt=""
      class="mx-1 w-[14px] h-[14px]"
    />
    <p class="text-white font-bold" style="text-shadow: 1px 1px 1px black">
      {{ timeLeft }}
    </p>
  </ng-container>
</div>
