<div
  class="flex flex-col relative border border-[#86623e] bg-[#fcebca] rounded w-[285px]"
>
  <div class="flex flex-wrap -ml-px -mt-px -mr-1">
    <div
      *ngFor="let trooper of opponent.troopers; let index = index"
      class="w-1/4"
      [class.-ml-px]="index % 4 != 0"
      [class.-mt-px]="index > 3"
    >
      <app-trooper-cell [trooper]="trooper"></app-trooper-cell>
    </div>
  </div>

  <h2 class="font-bold text-[#6b4320] text-center mt-2 mb-3 text-sm">
    <!-- replace by getArmyName() -->
    L'armée{{ opponent.armyPrefix != 5 ? " " : ""
    }}{{ prefixs[opponent.armyPrefix]
    }}{{ opponent.armyPrefix == 5 || opponent.armyPrefix == 1 ? "" : " "
    }}{{ opponent.armyName }}
  </h2>

  <div class="flex justify-between">
    <div
      class="bg-[#e2c066] w-20 text-sm rounded ml-2 mb-2 p-1 flex items-center justify-center"
    >
      <img src="/assets/images/powers.webp" alt="" class="w-5 h-5 mr-1" />

      <span class="text-[#6b4320]">{{ opponent.armyPower }}</span>
    </div>

    <div class="relative mr-1 mb-1 cursor-pointer">
      <img src="/assets/images/buttons/button5.webp" alt="" />
      <h2 class="action-btn">Attaquer !</h2>
    </div>
  </div>
</div>
