<div class="flex flex-nowrap">
  <div class="flex mt-10 w-[255px] px-2 justify-around">
    <app-container-icon
      [icon]="'/assets/images/money.webp'"
      [value]="user.gold"
    ></app-container-icon>
    <app-container-icon
      [icon]="'/assets/images/power.webp'"
      [value]="user.power"
    ></app-container-icon>
  </div>

  <div class="relative ml-auto mr-20">
    <img src="/assets/images/title.webp" alt="" draggable="false" />
    <h1
      class="absolute text-xl text-white font-bold left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 mt-[-6px] shadow-title"
    >
      <!-- replace by getArmyName() -->
      L'armée{{ user.armyPrefix != 5 ? " " : "" }}{{ prefixs[user.armyPrefix]
      }}{{ user.armyPrefix == 5 || user.armyPrefix == 1 ? "" : " "
      }}{{ user.armyName }}
    </h1>
  </div>
</div>

<div class="flex">
  <div class="flex mt-2 w-[255px] items-center flex-col">
    <app-troopers-block
      [troopers]="user.troopers"
      [context]="'add'"
    ></app-troopers-block>
  </div>

  <div class="grid grid-cols-2 auto-rows-min gap-x-14 gap-y-6 mt-2 mx-auto">
    <ng-container *ngFor="let opponent of opponents; let isFirst = first">
      <app-trooper-opponent [opponent]="opponent"></app-trooper-opponent>

      <div *ngIf="isFirst"></div>
    </ng-container>
  </div>
</div>
