<ng-container *ngIf="authService.user; let user">
  <div class="flex flex-nowrap">
    <div class="flex mt-10 w-[255px] px-2 justify-around">
      <app-container-icon
        [icon]="'/assets/images/money.webp'"
        [value]="user.gold"
      ></app-container-icon>
      <app-container-icon
        [icon]="'/assets/images/power.webp'"
        [value]="user.power"
      ></app-container-icon>
    </div>

    <div class="relative ml-auto mr-20">
      <img src="/assets/images/title.webp" alt="" draggable="false" />
      <h1
        class="absolute text-xl text-white font-bold left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 mt-[-6px] shadow-title"
      >
        Add a trooper
      </h1>
    </div>
  </div>

  <div class="flex">
    <div class="flex mt-2 w-[255px] min-w-[255px] items-center flex-col">
      <app-troopers-block
        [troopers]="user.troopers"
        [context]="'add'"
      ></app-troopers-block>
    </div>

    <div class="flex flex-col mx-10 mt-1">
      <div class="text-textdescription mb-8">
        Sélectionne un trooper à ajouter à ton armée. Chaque jour de nouveaux
        troopers sont disponibles. Choisis ton trooper avec soin :
      </div>

      <div class="mx-10 mb-8">
        <app-choose-trooper
          [troopers]="displayedTroopers"
          [formGroup]="addForm"
        ></app-choose-trooper>
      </div>

      <div class="w-80 mx-auto">
        <app-command-button
          *ngIf="addCost > 0"
          [type]="'blue'"
          [text]="'Add for ' + addCost"
          [icon]="'/assets/images/token.webp'"
          (clicked)="addNewTrooper()"
        ></app-command-button>
      </div>
    </div>
  </div>
</ng-container>
